{% trans_default_domain 'FOSUserBundle' %}
            <div  style="background-color: #ace600 " class="row">
    <div class="span3">
        
    </div>
    <div style="margin-right: 250px" class="span9">
        <div style="font-size: x-large">  <u> <h1>Change Password : </h1></u></div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                 
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                        {{ form_widget(form) }}
                        <br />
                        <input class="btn" type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>