<form method="post"> 
    
 <table>
       <tr>
           <td> username </td>
           <td> <input type="text" name="username" /> </td>
       </tr>
        <tr>
           <td> firstname </td>
           <td> <input type="text" name="firstname" /> </td>
       </tr>
       
       <tr>
           <td> password </td>
           <td> <input type="text" name="password" /> </td>
       </tr>
       
       
       <tr>
          <td> <input type="submit" value="Envoyer" /></td>
       </tr>
       
    </table>
    
 </form> 